body {
    font-family: Roboto, sans-serif;
    font-size: 2em;
}

.page-header {
    background-image: url(SewingThings.jpg);
    background-size: cover;
}

#about {
    width: 50%;
    height: 100%;
}

.gallery img {
    width: 50%;
}

section {
    /* Make some space for the fixed header/nav */
    padding-top: 8.5em;
}

footer {
    padding-top: 80%;
    font-size: 0.7em;
}

